* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
}

body {
    background-color: rgb(228, 243, 255);
    max-width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    background-color: rgb(212, 234, 253, 0.5);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: 15px 5%;
    display: none;
}

.logo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

.logo a{
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 45px;
}

/* #menu {
    position: relative;
    display: flex;
}

#menu a {
    position: fixed;
    margin-left: 87vw;
    margin-top: -40px;
    padding-bottom: 30px;
}

.drop-down {
    display: flex;
    border: 0.3px rgba(185, 206, 225, 0.5) solid;
    position: fixed;
    margin-left: 84vw;
    margin-top: 1.5vh;
}

#menu a:hover {
    color: white;
}

#menu a:hover + .drop-down {
    display: inline-grid;
}

.drop-down a {
    padding: 10px;
    font-size: 15px;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.drop-down a:hover {
    background-color: rgba(193, 222, 247, 0.854);
} */

.option {
    position: fixed;
    top: 40%;
    margin-left: 65vw;
    display: inline-grid;
    
}

.option a {
    font-size: 30px;
    margin: 2vh;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all ease 0.7s;
}

.option a:hover {
    color: rgb(173, 183, 189) !important;
    border-bottom: 2px solid rgb(173, 183, 189);
    margin-left: -10px;
}

.intro {
    position: relative;
    top: 40vh;
    margin-left: 15vw;
}

.intro h1{
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
        typing 7s;
}

#sub {
    display: none;
    padding-top: 25px;
    margin-left: 20px;
    font-size: 30px;
}

@keyframes typing {
    from { width: 0; }
}

#project {
    margin-top: 1000px;
}

.list {
    position: relative;
    padding-top: 200px;
}

.containers {
    position: relative;
    display: block;
    width: 40px;
}

.containers p {
   padding-top: 50px;
}

#contacts {
    margin-top: 1000px;
}

.socials {
    position: relative;
    padding-top: 200px;
}

#me {
    margin-top: 1000px;
}

.aboutMe {
    position: relative;
    padding-top: 200px;
}

html {
    scroll-behavior: smooth;
} 